
.navlink:hover .navdata{
  visibility: visible;
  display: block;
  width: 6rem;
  text-align: center;
  padding: 1rem 1rem;
  color: black;
  text-decoration: none;
}
.navlink .navdata{
  visibility: hidden;
    position: absolute;
    display: none;
    z-index: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
    border-radius: 5px;
    margin-left: 2rem;
}